/*Phone*/

body {
  background-image: url("../achtergronden/bobba.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main {
  flex: 1;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

.login-form input {
  height: 40%;
}

.login-form label {
  margin: 1rem 0;
}

@media only screen and (max-width: 425px) {
  /*ARTIKCLE*/
  .login-form {
    width: 80%;
    height: 40%;
  }
}

/*Desktop*/
@media only screen and (min-width: 426px) {}
